In [1]:
import pandas as pd
import requests

In [9]:
PATH ='http://backoffice-aws.despegar.com/gaia-tiresias-test/score/'

In [3]:
data = pd.read_csv('C:\\Users\\nicolas.vicentini\\upas_a_scorear.csv')
data

                                 upa_id
0  3ea83468-f224-4b14-a834-68f2248b1482
1  ffd98c37-ac6f-4732-8181-ceb2504d1d46
2  ea777dcb-1b46-42fa-8c1d-aa487069f195
3  986fd309-3a0c-462f-afd3-093a0c562f21
4  bbc59647-d9f7-4f8d-8596-47d9f78f8dfc
5  c7aef812-b127-4231-aef8-12b127223133
6  5508930e-dbd6-53d1-83d9-822c764dcdf3
7  ad7b0a20-8631-4c85-bb0a-2086313c85ba
8  2ae392a6-0992-417a-a392-a60992f17ad4
9  04bebacb-fe09-4bdf-beba-cbfe09fbdf43

In [5]:
upas = data['upa_id'].to_list()
upas

['3ea83468-f224-4b14-a834-68f2248b1482',
 'ffd98c37-ac6f-4732-8181-ceb2504d1d46',
 'ea777dcb-1b46-42fa-8c1d-aa487069f195',
 '986fd309-3a0c-462f-afd3-093a0c562f21',
 'bbc59647-d9f7-4f8d-8596-47d9f78f8dfc',
 'c7aef812-b127-4231-aef8-12b127223133',
 '5508930e-dbd6-53d1-83d9-822c764dcdf3',
 'ad7b0a20-8631-4c85-bb0a-2086313c85ba',
 '2ae392a6-0992-417a-a392-a60992f17ad4',
 '04bebacb-fe09-4bdf-beba-cbfe09fbdf43']

In [35]:
rows = []

In [39]:
for upa in upas:
    URL = PATH + upa
    response = requests.get(URL)
    print(response.status_code)
    if response.status_code == 200:
        json = response.json()
        for time_window,score in json['scores'].items():
            rows.append([upa, time_window, score])
    else:
        rows.append([upa, 'NA', 'NA'])

200
200
200
200
200
200
200
200
200
200

In [40]:
rows

[['3ea83468-f224-4b14-a834-68f2248b1482', '365', 118.80794525146484],
 ['ffd98c37-ac6f-4732-8181-ceb2504d1d46', '365', 16.40073013305664],
 ['ea777dcb-1b46-42fa-8c1d-aa487069f195', '365', 3.149949550628662],
 ['986fd309-3a0c-462f-afd3-093a0c562f21', '365', 665.6895751953125],
 ['bbc59647-d9f7-4f8d-8596-47d9f78f8dfc', '365', 104.3706283569336],
 ['c7aef812-b127-4231-aef8-12b127223133', '365', 198.58909606933594],
 ['5508930e-dbd6-53d1-83d9-822c764dcdf3', '365', 145.3687744140625],
 ['ad7b0a20-8631-4c85-bb0a-2086313c85ba', '365', 25.82213020324707],
 ['2ae392a6-0992-417a-a392-a60992f17ad4', '365', 47.15687561035156],
 ['04bebacb-fe09-4bdf-beba-cbfe09fbdf43', '365', 274.9234619140625]]

In [42]:
df = pd.DataFrame.from_records(rows, columns=["upa_id", "time_window", "score"])
df

                                 upa_id time_window       score
0  3ea83468-f224-4b14-a834-68f2248b1482         365  118.807945
1  ffd98c37-ac6f-4732-8181-ceb2504d1d46         365   16.400730
2  ea777dcb-1b46-42fa-8c1d-aa487069f195         365    3.149950
3  986fd309-3a0c-462f-afd3-093a0c562f21         365  665.689575
4  bbc59647-d9f7-4f8d-8596-47d9f78f8dfc         365  104.370628
5  c7aef812-b127-4231-aef8-12b127223133         365  198.589096
6  5508930e-dbd6-53d1-83d9-822c764dcdf3         365  145.368774
7  ad7b0a20-8631-4c85-bb0a-2086313c85ba         365   25.822130
8  2ae392a6-0992-417a-a392-a60992f17ad4         365   47.156876
9  04bebacb-fe09-4bdf-beba-cbfe09fbdf43         365  274.923462

In [43]:
df.to_csv('upas_scoreados.csv', encoding='utf-8', index=False)